body{
    background-color: rgb(240,240,240);
    font-family: "微软雅黑";
    min-width: 1024px;
}
.wel1,.wel2,.wel3{
    background: rgb(71,148,255);
    color: white;
}
.wel1{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
.wel2{
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.wel3{
    background: rgb(50,50,50);
    color: white;
    height: 40px;
    z-index: 2;
    position: relative;
}
.wel4{
    font-size: 10px;
    color: white;
    margin: 15px;
}
.commit{

    width:  40px;
    height: 20px;
    border-radius: 3px;
    border: none;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 10px;
    /*border-radius: 15px;*/
    margin: 10px;
}

.commit:hover{
     background: rgba(255,255,255,0.5);
}
.commit:active{
    background: rgba(255,255,255,0.2);
    height: 21px;
}

#blogName{
    outline: none;
    border-style: none;
    /*border-bottom: rgba(255,255,255,0.7) solid 1px;*/
    background-color: rgba(0,0,0,0);
    color: white;
    width: 50%;
    text-align: center;
}
#blogName::-webkit-input-placeholder{

color:rgba(255,255,255,0.7);

}

.result{
    color: rgb(50,165,79);
    border: rgb(50,165,79) solid 1px;
    background-color: rgba(50,165,79,0.2);
    height: 20px;
    font-size: 10px;
    border-radius: 10px;
    margin: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
#selected-length{
    visibility: hidden;
}
#editor-text-area{
    margin-top:6px;
    margin-right:5%;
    margin-left: 5%;
    margin-bottom:10px;
    background: rgb(255,255,255);
    padding: 20px;
    border-radius: 3px;
    min-height: 500px;
}
.longin{
    float: right;
}
.world:hover{
    background: rgba(71,148,255,0.5);
    color: white;
}
.world:active{
    background: rgba(71,148,255,0.2);
}
.blogs:hover{
    background: rgba(71,148,255,0.5);
    color: white;
}
.blogs:active{
    background: rgba(71,148,255,0.2);
}
.showLogin,.blogs,.world{

    height: 20px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    font-size: 10px;
    background: rgba(255,255,255,0);
    color: rgb(71,148,255);
}

.showLogin:hover{
    background: rgba(71,148,255,0.5);
    color: white;
}
.showLogin:active{
    background: rgba(71,148,255,0.2);
}
.longin1{
    height: 0px;
    background: rgba(41,118,255,1);
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
#usrName,#pwd,.mailBtn,#mail,#mailCode,#repwd{
    position: absolute;
    background: rgba(0,0,0,0.5);
    height: 20px;
    border-radius: 3px;
    margin: 10px;
    font-size: 10px;
    color: white;
    border-style: none;
    outline-style:none;
    top: 0px;
}

#pwd::-webkit-input-placeholder{

     color:rgba(255,255,255,0.7);

}
#usrName::-webkit-input-placeholder{

     color:rgba(255,255,255,0.7);

}
#mail::-webkit-input-placeholder{

    color:rgba(255,255,255,0.7);

}


.mailBtn{
    width: 100px;
    left: 10px;
    background-color: rgba(0,0,0,0);
}
.mailBtn:hover{
    background-color: rgba(0,0,0,0.1);
}
.mailBtn:active{
    background-color: rgba(0,0,0,0.5);
}
#mail{
    width: 150px;
    left: 130px;
    opacity: 0;
}
#mailCode{
    width: 130px;
    left: 290px;
    opacity: 0;
}
#mailCode::-webkit-input-placeholder{

    color:rgba(255,255,255,0.7);

}
#usrName{
    width: 150px;
    right: 180px
}
#pwd{
    width: 150px;
    right: 10px;
}
#repwd{
    top: 40px;
    width: 0px;
    right: 0px;
    opacity: 0;
}
#repwd::-webkit-input-placeholder{

    color:rgba(255,255,255,0.7);

}
.longinTips{
    font-size: 10px;
    color: red;
}
